body {
 margin: 0%;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    height: 20vh;
    width: 100vh;
}
h2{
    background-color: rgb(133, 191, 238);
    text-align:justify;
}