body{
    font-size: 18px;
    margin-right: 0%;
}
/* header{
    align-items: center;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    height: fit-content;
    font-weight: bold;   */
nav a{
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    padding: 13px;
}
header span{
    color: grey;
}
nav a:hover{
    background-color: rgb(221, 221, 221);
    border-radius: 50px;
}
h4{
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main{
    margin-left: 3%;
}
.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 100%;
}
.section_one{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section_two{
    display: flex;
    align-items: center;
    width: 70%;
}
.section_three{
    display: flex;
    align-items: center;
    width: 15%;
}
.section_four{
    display: flex;
    align-items: center;
    display: inline-block;
}
.imagenredon{
    width: 25px;
    height: 25px;
    border-radius: 25px;
}
.botonnegro{
    background-color: black;
    color: white;
    border-radius: 50px;
}
.barrabus{
    width: 100%;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(238, 236, 236);
    border-style: none;
}
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    }
.img{
    border-radius: 20px;
}